
#sign-up {
  width: 300px;
  padding: 5px;
}
label {
  float: left;
  clear: left;
}
input {
  float: right;
  display: inline-block;
}
#sign-up input, #sign-up label {
  margin-bottom: 5px;
}
div #submit {
  float: left;
  clear: left;
}
